node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
.coverage
.coverage.*
coverage.xml
*.cover
*.log
.pytest_cache/
.python-version
.env.local
.env.*.local
*.sqlite
*.sqlite3